body{
    background-color: beige;
}

.wrapper{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10vh 80vh 6vh;
    margin: 0;
    padding: 0;
    grid-template-areas:
    "header"
    "main"
    "footer";
}

header{
    grid-area: header;
}

main{
    grid-area: main;
}

footer{
 grid-area: footer;
}

nav ul{
    display: grid;
    grid-template-columns: auto;
    text-align: center;
}

ul{
    text-decoration: none;
    list-style-type: none;
    padding: 0;
}

nav li{
    list-style-type:none;
    text-align:center;
    border: 1px solid gray;
    border-radius: 10px;
    margin-top: 10px;
}

nav li:nth-child(1){
    border: none;
    text-align: left;
}

nav img{
    width: 20px;
}

.circle{
    display: flex;
    background: gray;
    border-radius: 50%;
    width: 5vh;
    height: 5vh;
    margin-left: auto;
    justify-content: center;
    align-items: center;
}

footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

a, a:visited, a:hover{
    text-decoration: none;
    color: black;
}

#Info main{
    display: grid;
    grid-template-columns: auto;
    text-align: center;;
}

#Instrumenter main{
    display: grid;
    grid-template-columns: auto;
    text-align: center;
}

@media only screen and (min-width: 900px) {
    nav ul{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    nav li{
        list-style-type:none;
        font-size: 1.5em;
        text-align:center;
        border: 1px solid gray;
        border-radius: 10px;
        margin-left: 10px;
        margin-right: 10px;
    }

    li{
        margin: auto;
    }

    nav img{
        width: 25%;
    }
    
    nav li:nth-child(1){
        border: none;
        text-align: center;
        margin-bottom: 10px;
    }    

    #Instrumenter main{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    #Info main{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #Art main{
        display: grid;
        grid-template-rows: auto 1fr;
    }

    img{
        width: 55%;
    }
}

h1, p{
    text-align: center;
}

footer p{
    text-align: left;
}

#Hemsida h1, #Hemsida p{
    text-align: left;
}

table, th, td{
    border: 4px;
    border-collapse: collapse ;
    border-style: inset;
    margin: auto;
}

tr{
    border-radius: 50px;
}

th,td{
    padding: 5vh 5vh;
}