body{
    background-color: beige;
}

.wrapper{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10vh 80vh 6vh;
    margin: 0;
    padding: 0;
    grid-template-areas:
    "header"
    "main"
    "footer";
}

header{
    grid-area: header;
}

main{
    grid-area: main;
}

footer{
 grid-area: footer;
}

nav ul{
    display: grid;
    grid-template-columns: auto;
    text-align: center;
}

ul{
    text-decoration: none;
    list-style-type: none;
}

.circle{
    display: flex;
    background: gray;
    border-radius: 50%;
    width: 5vh;
    height: 5vh;
    margin-left: auto;
    justify-content: center;
    align-items: center;
}

footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media only screen and (min-width: 900px) {
    nav ul{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    #Instrumenter main{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}

a, a:visited, a:hover, a:active{
    text-decoration: none;
    color: black;
}

#Infosida main{
    display: grid;
    grid-template-columns: auto;
    text-align: center;;
}

#Instrumenter main{
    display: grid;
    grid-template-columns: auto;
    text-align: center;
}