body{
    margin: 0;
}

/*Från denna rad till rad 30 använder jag för bakgrundsfärger av sidorna och för att ge sidfoten och sidhuvudet en rund kant*/
#Genre, #Låter, #Turné, #Feedback,#Tack{
    background: rgb(24, 58, 73);
}

#Genre footer, #Låter footer, #Turné footer, #Feedback footer,#Tack footer{
    background: rgb(58, 194, 58);
    border-top-left-radius: 50px;
}

#Instrumenter{
    background:  linear-gradient(90deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
}

#Hemsida{
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    animation: gradient 15s ease infinite;
}

header{
    background: rgb(46, 163, 151);
}
#Support{
background: lightgray;
}

#Genre header, #Låter header, #Turné header, #Feedback header{
    border-bottom-right-radius: 50px;
}

/*Från denna rad till rad 172 använder jag för de mobila rutnätslayouterna för varje sida, global meny, lokal meny, boxlayout och sidfotslayout. Och länkdesign aka LoVE Focus Hate.*/
.wrapper{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20vh auto 15vh;
    margin: 0;
    padding: 0;
    grid-template-areas:
    "header"
    "main"
    "footer";
}

#Låter .wrapper, #Feedback .wrapper{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20vh auto auto;
    margin: 0;
    padding: 0;
    grid-template-areas:
    "header"
    "main"
    "footer";
}

header{
    grid-area: header;
}

main{
    grid-area: main;
}

footer{
 grid-area: footer;
}

ul{
    display: grid;
    grid-template-columns: auto;
    text-align: center;
}

ol li{
    border: none;
    text-align: left;
    margin-left: 20vw;
}

ul{
    text-decoration: none;
    list-style-type: none;
    padding: 0;
}

li{
    list-style-type:none;
    text-align:center;
    border: 1px solid gray;
    margin-top: 2px;
}

.GM li:nth-child(1){
    border: none;
    text-align: left;
}

.LM{
    margin-left: 14vw;
    margin-right: 14vw;
    background-color: darkgray;
    width: 72vw;
}

.LokalMeny ul{
    display: grid;
    grid-template-columns: 18vw 18vw 18vw 18vw;
    margin: auto;
    background: darkgray;
}

.LokalMeny li{
    list-style-type:none;
    font-size: 4.5vw;
    text-align:center;
    border: 1px solid black;
    border-collapse: collapse;
    border-radius: 0;
    margin-top: 0;
    background-color: rgb(46, 163, 151);
}

footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#Support main{
    display: grid;
    grid-template-columns: auto;
    text-align: center;
}

#Instrumenter main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

#Låter .box{
    display: grid;
    grid-template-rows: auto auto;
}

.box{
    display: grid;
}

#Genre main, #Låter main, #Turné main, #Feedback main,#Tack main{
    display: grid;
    grid-template-rows: 5vh auto;
}

/*a:visited låter dig styla en länk som användaren besökte tidigare, a:link allows you to style a link the user hasn't visited before,a is for everylink*/
a, a:link, a:visited{
    text-decoration: none;
    color: white;
}

a:active{
    background: blue;
}

/*a:hover låter dig utforma en länk när en användare håller muspekaren över den*/
a:hover{
    color: #442212;
}

/*a:focus låter dig utforma en länk som användaren fokuserar på, t.ex. med tabbtangenten*/
a:focus{
    color: khaki;
}

/*Från denna rad till rad 198, är till för att designa de två diverna för mobiler: box och cirkel.*/
.circle{
    display: flex;
    background: gray;
    border-radius: 50%;
    width: 5vh;
    height: 5vh;
    margin-left: auto;
    justify-content: center;
    align-items: center;
}

.box{
    width: 72vw;
    height: auto;
    margin:auto ;
    background: gray;
}

#Låter .box section{
    margin: auto;
}

.box p{
    text-align: left;
}

/*Från denna rad till rad 218, är för img,video och textarea bredd*/
#Instrumenter img{
    width: 25vw;
    margin: auto;
}

#Tack img{
    width: 50vw;
    margin: auto;
}

video{
    width: 40vw;
}

textarea{
    width: 70vw;
    height: 15vh;
}

/*Härifrån till råd 236, är för rubrik- och textposition och storlek.*/
h1, p{
    text-align: center;
}

footer p{
    text-align: left;
}

#Hemsida main h1{
    text-align: center;
}

#Hemsida main p{
    font-size: 25px;
}

/*Härifrån till råd 253, är för table storlek och table border storlek och disign.*/
table, th, td{
    border: 4px solid black;
    border-collapse: collapse ;
    border-style: inset;
    margin: auto;
    width: 10px;
}

table{
    width: 10px;
}

tr{
    border-radius: 50px;
}

/*Alla saker inuti mediataggen är i princip samma saker som ovan men för skärmar större än 900px. Som mest är bärbara datorer och datorer*/
@media only screen and (min-width: 900px) {
    .wrapper{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 10vh 80vh 10vh;
        margin: 0;
        padding: 0;
        grid-template-areas:
        "header"
        "main"
        "footer";
    }

    textarea{
        width:30vw;
        height: 20vh;
    }

    #Låter .wrapper, #Feedback .wrapper, #Instrumenter .wrapper{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 10vh auto 10vh;
        margin: 0;
        padding: 0;
        grid-template-areas:
        "header"
        "main"
        "footer";
    }

    .GM ul{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    .GM{
        margin: auto;
    }

    .GM li{
        list-style-type:none;
        font-size: 30px;
        text-align:center;
        border: 1px solid gray;
        border-radius: 10px;
        margin-left: 50px;
        margin-right: 50px;
    }

    .Logo{
        border: none;
        text-align: center;
        margin-bottom: 10px;
        font-size: 40px;
        margin: auto;
    }

    #Instrumenter main{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    #Instrumenter img{
        width: 15vw;
        margin: auto;
    }

    #Support main{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .LM{
        margin-left: 20vw;
        margin-right: 20vw;
        background-color: darkgray;
        width: 60vw;
    }

    .LokalMeny li{
        list-style-type:none;
        font-size: 1.4em;
        text-align:center;
        border: 1px solid black;
        border-collapse: collapse;
        border-radius: 0;
        margin-top: 0;
        background-color: rgb(46, 163, 151);
    }

    .LokalMeny ul{
        display: grid;
        grid-template-columns: 15vw 15vw 15vw 15vw;
        margin: auto;
        background: darkgray;
    }

    #Låter .box{
        display: grid;
        grid-template-rows: 20vh auto;
    }

    .box{
        width: 60vw;
        height: auto;
        margin:auto ;
        background: rgb(46, 163, 151);
    }

    .box p{
        color: black;
    }

    #Genre main, #Låter main, #Turné main, #Feedback main,#Tack main{
        display: grid;
        grid-template-rows: 5vh auto;
        margin-top: 5vh;
    }

    #Support img{
        width: 30vw;
    }

}
